name: Build ISOs

on:
  workflow_dispatch:

jobs:
  iso:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
    steps:
      - name: Build ISOs
        uses: jasonn3/build-container-installer@v1.2.4
        with:
          image_name: ucore-minimal-nvidia
          image_repo: ghcr.io/romcok
          variant: 'CoreOS'
          version: 41
          iso_name: ucore-minimal-nvidia-installer.iso
          
      - name: Upload ISO as artifact
        uses: actions/upload-artifact@v4
        with:
          name: pinfera-iso
          path: |
            *.iso
            *-CHECKSUM
          if-no-files-found: error
          retention-days: 5
          compression-level: 0
